<%- include("header") -%>
<table style="width:100%">

<tr>
  <th>SL NO</th>
  <th>NAME</th>
  <th>SCHOOL NAME</th>
  <th>PHONE NO</th>
  <th>MAILID</th>
  <th>BOARD</th>
  <th>PHY MARK</th>
  <th>CHEM MARK</th>
  <th>MATHS MARK</th>
  <th>MECHOPTION</th>
  <th>CSOPTION</th>
  <th>EEOPTION</th>
  <th>ECOPTION</th>
  <th>CIVILOPTION</th>
</tr>
<%for(i=0;i<fname1.length;i++){%>

  <tr>
    <td><%=i+1%></td>
    <td><%=fname1[i]%></td>
    <td><%=school1[i]%></td>
    <td><%=phone1[i]%></td>
    <td><%=mail1[i]%></td>
    <td><%=board1[i]%></td>
    <td><%=phy1[i]%></td>
    <td><%=chem1[i]%></td>
    <td><%=maths1[i]%></td>
    <td><%=bomech1[i]%></td>
    <td><%=bocs1[i]%></td>
    <td><%=boee1[i]%></td>
    <td><%=boec1[i]%></td>
    <td><%=bocvil1[i]%></td>
</tr>

<%}%>
</table>
<br>
<br>
<button style="min-height: 40px;
width: 250px;
border-color: transparent;
background-color: blue;
color: #fff;
font-size: 15px;
padding-bottom: 3px;
border-width: 0;">Export HTML table to CSV file</button>
<%- include("footer") -%>


<script type="text/javascript">
  function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
}

function export_table_to_csv(html, filename) {
	var csv = [];
	var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
		var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

		csv.push(row.join(","));
	}

    // Download CSV
    download_csv(csv.join("\n"), filename);
}

document.querySelector("button").addEventListener("click", function () {
    var html = document.querySelector("table").outerHTML;
	export_table_to_csv(html, "table.csv");
});

</script>
