<%- include("header") -%>
<table style="width:100%">

<tr>
  <th>NAME</th>
  <th>SCHOOL NAME</th>
  <th>PHONE NO</th>
  <th>MAILID</th>
  <th>BOARD</th>
  <th>PHY MARK</th>
  <th>CHEM MARK</th>
  <th>MATHS MARK</th>
  <th>MECHOPTION</th>
  <th>CSOPTION</th>
  <th>EEOPTION</th>
  <th>ECOPTION</th>
  <th>CIVILOPTION</th>
</tr>
<%for(i=0;i<fname1.length;i++){%>

  <tr>
    <td><%=fname1[i]%></td>
    <td><%=school1[i]%></td>
    <td><%=phone1[i]%></td>
    <td><%=mail1[i]%></td>
    <td><%=board1[i]%></td>
    <td><%=phy1[i]%></td>
    <td><%=chem1[i]%></td>
    <td><%=maths1[i]%></td>
    <td><%=bomech1[i]%></td>
    <td><%=bocs1[i]%></td>
    <td><%=boee1[i]%></td>
    <td><%=boec1[i]%></td>
    <td><%=bocvil1[i]%></td>
</tr>

<%}%>
</table>
<%- include("footer") -%>
