<%- include("header") -%>

<h3 class="subheadding">REGISTRATION FOR THE SCHOLARSHIP EXAM  <br> SUBMITTED SUCCESSFULLY!!</h3>
<div class="container">

  <div class="row">
<div class="col-3">
  FULL NAME
</div>
<div class="col-4">
<%=fname%>
</div>
</div>

<div class="row">
<div class="col-3">
  SCHOOL OF STUDY
</div>
<div class="col-4">
<%=school%>
</div>
</div>

<div class="row">
<div class="col-3">
  PHONE NUMBER
</div>
<div class="col-4">
<%=phone%>
</div>
</div>


<div class="row">
<div class="col-3">
  E-Mail ID
</div>
<div class="col-4">
<%=mail%>
</div>
</div>

<div class="row">
<div class="col-3">
  BOARD OF STUDY
</div>
<div class="col-4">

  <%=board%>


</div>
</div>
<div class="row">
<div class="col-3">
MARKS IN +2
</div>
<div class="col-3">
PHY:   <%=phy%>
</div>
<div class="col-3">
CHEM: <%=chem%>
</div>
<div class="col-3">
MATHS: <%=maths%>
</div>
</div>
<div class="row">
<div class="col-3">
BRANCH OPTION
</div>
<div class="col-5">
MECHANICAL </div>
<div class="col-2">

    <%=bomech%>

</div>
</div>

<div class="row">
<div class="col-3">

</div>
<div class="col-5">
COMPUTER SCIENCE </div>
<div class="col-2">
<%=bocs%>
</div>
</div>
<div class="row">
<div class="col-3">

</div>
<div class="col-5">
ELECTRICAL &ELECTRONICS</div>
<div class="col-2">
<%=boee%>
</div>
</div>

<div class="row">
<div class="col-3">

</div>
<div class="col-5">
ELECTRONICS & COMMUNICATION</div>
<div class="col-2">
  <%=boec%>
</div>
</div>
<div class="row">
<div class="col-3">
</div>
<div class="col-5">
CIVIL : </div>
<div class="col-2">
  <%=bocvil%>
</div>
</div>

<div class="row">
<div class="col-3">
</div>
<div class="col-5">


 </div>
 </div>


</div>




<%- include("footer") -%>
